h1 {
	text-align: center;
	font-size: 52px;
	background: rgba(255, 255, 255, 0.6);
	/*border-radius: 8px;*/
	padding: 8px;
}

.doc {
    background-image:url("background.jpg");
	background-color:#585858; /* The color used if image is not available */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire page */
	color: black;
	font-family: Georgia, serif;
}

.navbar {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	background-color: #333;
  	overflow: hidden;
  	border-radius: 8px;
}

.navlist {
  	float: left;
}

.navtext {
	display: block;
	color: white;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 19px;
}

.navtextus {
	display: block;
	color: white;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 19px;
    background-image: linear-gradient(to bottom right, red , yellow);
    /*gradients at https://www.w3schools.com/css/css3_gradients.asp*/
}

.navtext:hover {
	background-color: #111;
}

.active {
	background-image: linear-gradient(to bottom right, #bc4f5e , #B3000C);
}

.activearchive {
    background-image: linear-gradient(to bottom right, #ffd22b , #228b22);
}

#img {
  	float: right;
  	width: 35%;
  	margin-right: 12px;
  	border-radius: 8px;
}

.info {
	font-size: 22px;
	max-width: 60%;
	margin-left: 12px;
	margin-top: 40px;
    color: black;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 12px;
}

.contactinfo {
	font-size: 22px;
	max-width: 40%;
	margin-left: 12px;
    color: white;
    background-color: #333;
    padding: 20px;
    border-radius: 12px;
}